<h1>Experts by Genre "<%= @genre.name %>"</h1>



<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Skype</th>
      <th>About</th>
      <th>Free questions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @experts_by_genre.each do |experts_by_genre| %>
      <tr>
        <td><%= experts_by_genre.first_name %></td>
        <td><%= experts_by_genre.last_name %></td>
        <td><%= experts_by_genre.skype %></td>
        <td><%= experts_by_genre.about %></td>
        <td><%= experts_by_genre.free_questions %></td>
        <td><%= link_to 'Ask question', experts_by_genre %></td>        
    <% end %>
  </tbody>
</table>

