<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @genre.description %>
</p>

<%if can? :update, Genre%>
    <td><%= link_to 'Edit |', edit_genre_path(@genre) %></td>
<% end %>
<%= link_to 'Back', genres_path %>
